:root {
  --gold: #e9a92f;
  --black: #292937;
}

html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: var(--black);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.gold {
  color: var(--gold);
}

.black {
  color: var(--black);
}
