.floor-plans {
  line-height: 1;
  &__title {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
  }
  &__description {
    text-align: center;
  }
}

.slider {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  max-width: 100%;
  margin: 0 auto;
  &__slide {
    flex-basis: 220px;
    /* max-width: 380px; */
    /* flex: 200; */
    margin: 10px;
    /* height: 400px; */
    padding: 15px;
    border: 1px solid #dddcdf;
    display: flex;
    flex-wrap: wrap;
    &mixin atMedium {
      flex-basis: 250px;
    }
    &mixin atLarge {
      flex-basis: 390px;
    }
  }

  &__slide > * {
    flex: 1 1 100%;
  }
  &__details {
    align-self: flex-end;
    background: blanchedalmond;
    font-size: 1.2rem;
  }
  &__title {
    font-weight: 400;
  }
  &__scroll {
    display: flex;
    margin: 20px;
    flex-grow: 1;
    border: 2px solid black;
    justify-content: center;
  }
  &__button {
    margin-right: 10px;
  }
  &--arrow {
    align-self: center;
    border: 5px salmon solid;
  }
}
