.header {
  font-size: 1rem;
  font-weight: 400;
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  align-items: center;
  padding: 0 20px;
  align-content: center;
  @mixin atLarge {
    font-size: 1.3rem;
  }
}

.header-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 7fr;
  grid-gap: 10px;
  align-items: center;
  &__open {
    display: none;
  }
}

.login-links {
  display: grid;
  justify-items: end;
  grid-gap: 10px;
  grid-template-columns: 3fr 1fr;
}
